.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
}

#total{
    color: red;
}
.center:hover{
    transition: 0.3s;
    background-color: aquamarine;
}